pipeline/Archive.json
{
	"name": "Archive",
	"properties": {
		"activities": [
			{
				"name": "Archive files",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataLakeCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "archive",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete from Source",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLakeCSV",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Web2').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"name\": \"@{pipeline().Pipeline}\",\n    \"status\": \"@{activity('Archive Files').output.executionDetails[0].status}\",\n    \"datafactory\": \"@{pipeline().DataFactory}\",\n    \"runid\": \"@{pipeline().RunId}\",\n    \"error\": \"@{if(empty(activity('Archive Files').output.errors), 'No errors found in Archive Files activity', activity('Archive Files').output.errors[0])}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Delete from Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.LogicAppHTTPURI",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"variables": {
			"asf": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-16T16:58:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}