pipeline/DeltaLoadFiles.json
{
	"name": "DeltaLoadFiles",
	"properties": {
		"activities": [
			{
				"name": "Incremental Load Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modification Date",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Get Last Modification Date').output.firstRow.WatermarkValue",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BlobOnlineDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LakeOnlineDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Last Modification Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT WatermarkValue\nFROM dbo.incremental_load\nWHERE TableName = 'raw/online'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerIncrementalLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Watermark Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incremental Load Files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[udp_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@addHours(utcNow(), -4)",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "raw/online",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-12-02T15:00:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}